body {
    max-height: 200vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
a {
    width: 100%;
}


header {
    /*max-height: 25%;*/
    width: 100%;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    /*display: grid;
    grid-template-columns: 1fr 1fr;*/
    /*grid-template-rows: 1fr 1fr 1fr 2fr;*/
    /*grid-template-rows: 1fr;*/
    padding: 20px;
}

.contents {
    display: flex;
    justify-content: center;
}

.profile-pic-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 50%;
}

header img {
    max-width: 25%;
    border-radius: 20px;
    /*margin-left: 500px;*/
    /*grid-row: 1 / 5;*/
}



main {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    max-height: 50%;
    background-color: yellow;
}

h1 {
    margin: 10px;
}

h2 {
    text-align: center;
}

p {
    margin: 5px;
    text-align: center;
}

#about-me {
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 30px;
    /*margin-right: 100px;*/
}

#about-me p, #about-me h2 {
    text-align: start;
}

#about-me p, #about-me h2, #about-me h1 {
    margin-left: 0;
}

#projects {
}

.grid-img-container {
    max-width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.screenshot-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-description-container {
    background-color: blue;
    padding: 10px;
}

h3{
    margin: 0;
}

.project-top-portion {
    display: flex;
    justify-content: space-between;
}

.project-top-portion {
    white-space: nowrap;
}

.project-screenshot {
    border-radius: 0px;
    max-width: 100%;
}

.project-description-text {
    text-align: start;
}

.project-link-icons {
    display: flex;
    max-width: 100%;
    justify-content: flex-end;
    gap: 5px;
}

button {
    flex: 1 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo {
    min-width: 100%;
}



@media (max-width: 1000px) {
    .profile-pic-container{
        display: flex;
        justify-content: center;
    }
    header {
        background-color: purple;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px; 
    }
    .contents {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header img {
        max-width: 50%;
    }

    #about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}